.lead__button-sale {
  background-color: #ff3333;
  border: none;
  text-align: left;
  box-sizing: border-box;
  cursor: pointer;

  padding: 0 30px 0;

  border-radius: 50px;
  color: #fff;
  transition: 0.5s;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.lead__button-sale:hover {
  background-color: #00ccff;
  color: #000;
}
