.header__question {
  margin: 0;
  padding: 0;
  max-width: 300px;
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75;
  text-align: center;
}

@media screen and (max-width: 1450px) {
  .header__question {
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  .header__question {
    font-size: 16px;
  }
}

@media screen and (max-width: 1180px) {
  .header__question {
    display: none;
  }
}
