.header__container-logo {
}

@media screen and (max-width: 750px) {
  .header__container-logo {
    position: absolute;
    top: 15px;
    left: 25px;
  }
}

@media screen and (max-width: 380px) {
  .header__container-logo {
    top: 5px;
    left: 5px;
  }
}
