.callback__form_lead {
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .callback__form_lead {
    width: 300px;
    padding: 15px;
  }
}
@media screen and (max-width: 660px) {
  .callback__form_lead {
    padding: 30px 15px 15px;
  }
}
