.callback__item_lead {
  margin: 15px 0 0 0;
  margin-bottom: 15px;
  height: 56px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  padding: 0 10px;
}

.callback__item_lead:first-of-type {
  margin-left: 0;
  margin-bottom: 0;
}
