.callback {
  position: relative;
  margin-top: 50px;
  padding: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/windowcl.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.callback::before {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  position: absolute;
  width: 100%;
  height: 100vh;

  top: 0;
  right: 0;

  content: '';
  box-sizing: border-box;
}
