.comfort__callback {
  width: 250px;
  margin-top: 10px;
  background-color: #f9ca24;
  border: none;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 0 30px 0;

  border-radius: 50px;
  color: #000;
  transition: 0.5s;
}

.comfort__callback:hover {
  background-color: #000;
  color: #f9ca24;
}
