.header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 50px 0;
}

@media screen and (max-width: 750px) {
  .header {
    padding: 15px 25px 0;
  }
}

@media screen and (max-width: 380px) {
  .header {
    padding: 5px 5px 0;
  }
}
