.header__call {
  margin-left: 20px;
  background-color: transparent;
  border: none;
  text-align: left;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
  padding: 0 30px 0;
  border: 5px solid #f9ca24;
  border-radius: 20px;
  color: #f9ca24;
}

.header__call:hover {
  background-color: black;
  color: #f9ca24;
  border: 3px solid black;
}
