.prof__content {
  position: relative;

  width: 600px;
  height: 518px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  background: rgb(211, 211, 211);
}

@media screen and (max-width: 718px) {
  .prof__content {
    width: 90vw;
  }
}

@media screen and (max-width: 530px) {
  .prof__content {
    justify-content: flex-end;
    width: 90vw;
  }
}

@media screen and (max-width: 400px) {
  .prof__content {
    padding-right: 0px;
  }
}
