.lead__sale {
  color: #ff3333;
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
  .lead__sale {
    font-size: 25px;
  }
}

@media screen and (max-width: 900px) {
  .lead__sale {
    font-size: 20px;
  }
}
