.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 252px;
  height: 70px;
}

/*padding: 32px 0;
  width: 100%;
  min-height: 50px;
  background-color: transparent;
  border: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  */
