.logo {
  width: 250px;
}

@media screen and (max-width: 1400px) {
  .logo {
    width: 200px;
  }
}

@media screen and (max-width: 950px) {
  .logo {
    width: 150px;
  }
}

@media screen and (max-width: 750px) {
  .logo {
    width: 125px;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    width: 100px;
  }
}
/*padding: 32px 0;
  width: 100%;
  min-height: 50px;
  background-color: transparent;
  border: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  */
