.callback__button {
  width: 250px;
  height: 56px;

  background-color: #ff3333;
  border: none;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;

  border: 2px solid rgb(211, 211, 211);

  color: #fff;
  transition: 0.5s;

  margin-left: 15px;
  height: 56px;

  border-radius: 10px;
  padding: 0 10px;
}

.callback__button:hover {
  background-color: #00ccff;
  color: #000;
  border: 2px solid rgb(211, 211, 211);
}

@media screen and (max-width: 660px) {
  .callback__button {
    height: 40px;
  }
}
