.header__callback {
  width: 300px;
  height: 40px;
  background-color: transparent;
  border: none;
  text-align: left;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 0;
  border: none;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff3333;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  transition: 0.2s;
  color: #fff;
}

.header__callback:hover {
  background-color: #00ccff;
  color: #000;
}
