.header__social-link {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  text-decoration: none;
}

.header__social-link:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1425px) {
  .header__social-link {
    flex-direction: row;
    margin-left: 10px;
    margin-bottom: 0;
  }
  .header__social-link:first-of-type {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1180px) {
  .header__social-link {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .header__social-link:last-of-type {
    margin-right: 0px;
  }
}

@media screen and (max-width: 750px) {
  .header__social-link {
    margin-left: 0px;
    margin-right: 5px;
  }

  .header__social-link:last-of-type {
    margin-right: 0px;
  }
}
