/* vendor */
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css); /*inter*/
@import url(../vendor/fonts/orchideapro/stylesheet.css); /* orchideapro */

/* logo */
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_footer/logo_footer.css);

/* page */
@import url(../blocks/page/page.css);

/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__question/header__question.css);
@import url(../blocks/header/__contact/header__contact.css);
@import url(../blocks/header/__social-links/header__social-links.css);
@import url(../blocks/header/__callback/header__callback.css);
@import url(../blocks/header/__call/header__call.css);
@import url(../blocks/header/__social-link/header__social-link.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__list/header__list.css);
@import url(../blocks/header/__item/header__item.css);
@import url(../blocks/header/__item-link/header__item-link.css);
@import url(../blocks/header/__item-link/_active/header__item-link_active.css);
@import url(../blocks/header/__ico-wa/header__ico-wa.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__social-text/header__social-text.css);
@import url(../blocks/header/__social-container/header__social-container.css);

/* lead */
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__wrapper/lead__wrapper.css);
@import url(../blocks/lead/__wrapper-left/lead__wrapper-left.css);
@import url(../blocks/lead/__wrapper-right/lead__wrapper-right.css);
@import url(../blocks/lead/__sale/lead__sale.css);
@import url(../blocks/lead/__button-sale/lead__button-sale.css);
@import url(../blocks/lead/__item/lead__item.css);
@import url(../blocks/lead/__icon/lead__icon.css);
@import url(../blocks/lead/__link/lead__link.css);

/* steps */
@import url(../blocks/steps/steps.css);
@import url(../blocks/steps/__title/steps__title.css);
@import url(../blocks/steps/__container/steps__container.css);
@import url(../blocks/steps/__step/steps__step.css);
@import url(../blocks/steps/__circle/steps__circle.css);
@import url(../blocks/steps/__subtitle/steps__subtitle.css);
@import url(../blocks/steps/__paragraph/steps__paragraph.css);
@import url(../blocks/steps/__button-callback/steps__button-callback.css);

/* about */
@import url(../blocks/about/about.css);
@import url(../blocks/about/__company/about__company.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__subtitle/about__subtitle.css);
@import url(../blocks/about/__link-call/about__link-call.css);
@import url(../blocks/about/__list/about__list.css);
@import url(../blocks/about/__item/about__item.css);
@import url(../blocks/about/__item-paragraph/about__item-paragraph.css);
@import url(../blocks/about/__paragraph-help/about__paragraph-help.css);
@import url(../blocks/about/__link-callback/about__link-callback.css);

/* elements */
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__element/elements__element.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/elements/__image/elements__image.css);
@import url(../blocks/elements/__title/elements__title.css);

@import url(../blocks/elements/__subtitle/elements__subtitle.css);
@import url(../blocks/elements/__old-subtitle/elements__old-subtitle.css);
@import url(../blocks/elements/__button-callback/elements__button-callback.css);

/* callback */
@import url(../blocks/callback/callback.css);
@import url(../blocks/callback/__form/callback__form.css);
@import url(../blocks/callback/__title/callback__title.css);
@import url(../blocks/callback/__subtitle/callback__subtitle.css);
@import url(../blocks/callback/__input-container/callback__input-container.css);
@import url(../blocks/callback/__item/callback__item.css);
@import url(../blocks/callback/__handlers/callback__handlers.css);
@import url(../blocks/callback/__button/callback__button.css);
@import url(../blocks/callback/_deley/callback_deley.css);

/* profiles */
@import url(../blocks/profiles/profiles.css);
@import url(../blocks/profiles/__title/profiles__title.css);
@import url(../blocks/profiles/__content/profiles__content.css);
@import url(../blocks/profiles/__description/profiles__description.css);
@import url(../blocks/profiles/__subtitle/profiles__subtitle.css);
@import url(../blocks/profiles/__paragraph/profiles__paragraph.css);
@import url(../blocks/profiles/__item/profiles__item.css);

/* brand-grid */
@import url(../blocks/brand-grid/brand-grid.css);
@import url(../blocks/brand-grid/__list/brand-grid__list.css);
@import url(../blocks/brand-grid/__item/brand-grid__item.css);
@import url(../blocks/brand-grid/__image/brand-grid__image.css);

/* furniture */
@import url(../blocks/furniture/furniture.css);
@import url(../blocks/furniture/__title/furniture__title.css);
@import url(../blocks/furniture/__subtitle/furniture__subtitle.css);
@import url(../blocks/furniture/__content/furniture__content.css);
@import url(../blocks/furniture/__list/furniture__list.css);
@import url(../blocks/furniture/__item/furniture__item.css);
@import url(../blocks/furniture/__item-title/furniture__item-title.css);
@import url(../blocks/furniture/__item-paragraph/furniture__item-paragraph.css);
@import url(../blocks/furniture/__images-f1/furniture__images-f1.css);
@import url(../blocks/furniture/__images-f1/_active/furniture__images-f1_active.css);
@import url(../blocks/furniture/__images-f2/furniture__images-f2.css);
@import url(../blocks/furniture/__images-f2/_active/furniture__images-f2_active.css);
@import url(../blocks/furniture/__images-f3/furniture__images-f3.css);
@import url(../blocks/furniture/__images-f3/_active/furniture__images-f3_active.css);
@import url(../blocks/furniture/__item/_active/furniture__item_active.css);

/* gallery-grids */

@import url(../blocks/gallery-grid/gallery-grid.css);
@import url(../blocks/gallery-grid/__title/gallery-grid__title.css);
@import url(../blocks/gallery-grid/__list/gallery-grid__list.css);
@import url(../blocks/gallery-grid/__item/gallery-grid__item.css);
@import url(../blocks/gallery-grid/__image/gallery-grid__image.css);
@import url(../blocks/gallery-grid/__address/gallery-grid__address.css);

/* comfort */
@import url(../blocks/comfort/comfort.css);
@import url(../blocks/comfort/__content/comfort__content.css);
@import url(../blocks/comfort/__cards/comfort__cards.css);
@import url(../blocks/comfort/__deposit/comfort__deposit.css);
@import url(../blocks/comfort/__title/comfort__title.css);
@import url(../blocks/comfort/__callback/comfort__callback.css);
@import url(../blocks/comfort/__container/comfort__container.css);
@import url(../blocks/comfort/__content-title/comfort__content-title.css);
@import url(../blocks/comfort/__content-paragraph/comfort__content-paragraph.css);
@import url(../blocks/comfort/__img/comfort__img.css);

/* contacts */
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contacts/__contact/contacts__contact.css);
@import url(../blocks/contacts/__title/contacts__title.css);
@import url(../blocks/contacts/__list/contacts__list.css);
@import url(../blocks/contacts/__link/contacts__link.css);

/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copy/footer__copy.css);
@import url(../blocks/footer/__content/footer__content.css);
@import url(../blocks/footer/__link/footer__link.css);

/* popup */
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__container-img/popup__container-img.css);
@import url(../blocks/popup/__image-gallery/popup__image-gallery.css);
@import url(../blocks/popup/__title-gallery/popup__title-gallery.css);
@import url(../blocks/popup/_gallery/popup_gallery.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
