.steps__button-callback {
  margin-top: 100px;
  background-color: black;
  border: none;
  text-align: left;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
  padding: 0 30px 0;
  border: 5px solid black;
  border-radius: 50px;
  color: #fff;
  transition: 0.5s;
}

.steps__button-callback:hover {
  background-color: transparent;
  color: #000;
}
