.about__link-callback {
  text-decoration: underline;
  transition: 0.3s;
  color: #00ccff;
  background-color: #fff;
  border: none;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;

  border: none;
}

.about__link-callback:hover {
  opacity: 0.8;
}
