.header__item-link {
  text-decoration: none;
  transition: 0.3s;
  color: black;
  font-size: 18px;
}

.header__item-link:hover {
  color: #f9ca24;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .header__item-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .header__item-link {
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  .header__item-link {
    font-size: 8px;
  }
}
